$Soft-red: hsl(7, 99%, 70%);
$Soft-red2: hsl(7, 99%, 90%);
$Soft-red1: hsl(7, 99%, 99%);
$Yellow: hsl(51, 100%, 49%);
$Yellow1: hsl(51, 100%, 80%);
$Yellow2: hsl(35, 100%, 98%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%); // (graphic design text)
$Dark-blue : hsl(198, 62%, 26%); //(-Photography text)
$Dark-moderate-cyan: hsl(168, 44%, 61%); // (footer)
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
