//.container * {
//    outline: 1px dotted blue;
//}
header {
    display: flex;
    flex-direction: column;

    .header-top1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .menu {
            .menu-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    }

    .heading-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container {
    display: grid;
    //    grid-row-gap: 3.5rem;
    grid-template-columns: repeat(auto-fit, auto);
    grid-auto-rows: auto;
    grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "e e"
        "f f";

    .one {
        grid-area: a;
    }

    .two {
        grid-area: b;
    }

    .three {
        grid-area: c;
    }

    .four {
        grid-area: d;
    }

    .five {
        grid-area: e;
    }

    .six {
        grid-area: f;
    }

}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.container3 {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
        "a a b b"
        "c c d d";

    div:nth-of-type(1) {
        grid-area: a;

    }

    div:nth-of-type(2) {
        grid-area: b;

    }

    div:nth-of-type(3) {
        grid-area: c;

    }

    div:nth-of-type(4) {
        grid-area: d;

    }

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .extra-links {
        display: flex;
        justify-content: space-evenly;
    }

    .icons {
        display: flex;
        justify-content: center;
    }
}
