@import "colors";
@import "layout";
$barlow: 'Barlow',
sans-serif;
$Fraunces: 'Fraunces',
serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Fraunces', serif;
    font-size: 18px;
    background: $Yellow2;
}

//mixins

@mixin card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    ;

    h3 {
        color: $Very-dark-desaturated-blue;
        font-family: $Fraunces;
        font-size: 1.7rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
    }

    p {
        text-indent: 0.7rem;
        color: $Dark-grayish-blue;
        line-height: 1.5;
        margin-bottom: 2rem;
    }

    a {
        font-size: 15px;
        font-weight: 800;
        font-family: $Fraunces;
        text-transform: uppercase;
        text-decoration: none;
        color: $Very-dark-desaturated-blue;
    }

    // for underline style links
    a::after {
        content: " ";
        display: block;
        width: 120%;
        height: .5rem;
        margin-left: -.7rem;
        border-radius: 1rem;
        margin-top: -.4rem;
    }

    padding: 3rem 1.5rem;
    font-family: $barlow;
}

//for container class

@mixin card2 {
    text-align: center;

    > img {
        width: 100%;
        height: 100%;
    }

    .inner-div {
        position: absolute;
        z-index: 1;
        bottom: 11%;
        padding: 0 1rem;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            font-weight: 800;
        }

        p {
            line-height: 1.5;
            font-size: 16px;
            font-family: $barlow;
        }
    }
}

//mixin end

//animation
@keyframes round {
    0% {
        height: 5rem;
        width: 5rem;
        border-radius: 50% 0% 50%;
        top: 4rem;
        overflow: hidden;
    }

    100% {
        top: 4rem;
        height: 17rem;
        width: 85vw;
        border-radius: 0%;
    }
}

@keyframes bounce {
    0% {
        margin-top: 3rem;
    }

    50% {
        margin-top: 0rem;
    }

    100% {
        margin-top: 3rem;
    }
}

header {

    img.header-img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .menu-desktop {
        display: none;
    }

    .header-top1 {
        //nav and logo section
        position: absolute;
        top: 1.8rem;
        width: 100%;
        padding: 0 1.5rem;

        .menu {
            cursor: pointer;
            position: relative;

            .display-none {
                display: none;

                //a arrow above menu 
                .menu-content::before {
                    content: " ";
                    top: -1.5rem;
                    right: 0;
                    width: 5rem;
                    position: absolute;
                    border-width: 1.5rem;
                    border-color: transparent $White transparent transparent;
                    border-style: solid;
                    animation: round .1s ease-in;
                }

                .menu-content {
                    cursor: context-menu;
                    font-family: $barlow;
                    width: 85vw;
                    height: 17rem;
                    background: $White;
                    position: absolute;
                    bottom: -19.5rem;
                    right: 0rem;
                    z-index: 1;
                    padding: 2rem 0;
                    animation: round .2s ease-in;

                    a {
                        color: $Dark-grayish-blue;
                        text-decoration: none;
                        font-size: 19px;
                        margin-bottom: 2rem;
                    }

                    a:last-child {
                        font-family: serif;
                        font-weight: 600;
                        border-radius: 5rem;
                        font-size: 14px;
                        padding: 1rem 1.5rem;
                        color: $Very-dark-desaturated-blue;
                        background: $Yellow;
                    }
                }
            }

            .block {
                display: block;

            }
        }
    }

    .heading-section {
        position: absolute;
        top: 7.5rem;
        right: 50%;
        left: 50%;

        h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.4rem;
            color: $White;
        }

        .arrow {
            margin-top: 3rem;
            animation: bounce 1s ease-in-out 2s 4;
        }
    }
}

.container {
    img {
        height: 100%;
        width: 100%;
    }

    div:nth-of-type(2) {
        @include card;

        a::after {
            background-color: $Yellow1;
        }

        //adding hover to ::after or ::befor selector
        a:hover::after {
            background-color: $Yellow;
        }
    }

    div:nth-of-type(4) {
        @include card;

        a::after {
            background-color: $Soft-red2;
        }

        a:hover::after {
            background-color: $Soft-red;
        }
    }

    div:nth-of-type(5) {
        position: relative;
        @include card2;
        color: $Dark-desaturated-cyan;
    }

    div:nth-of-type(6) {
        position: relative;
        @include card2;
        color: $Dark-blue;
    }

}



.container-two {
    font-family: $barlow;
    padding: 3.5rem 1.2rem;

    h4 {
        font-family: $Fraunces;
        text-transform: uppercase;
        color: $Grayish-blue;
        letter-spacing: 3px;
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    .card {
        text-align: center;
        padding: 2rem 0;

        img {
            width: 23%;
            border-radius: 50%;
            margin-bottom: 2rem;
        }

        p:nth-of-type(1) {
            color: $Very-dark-grayish-blue;
            line-height: 1.8;
            margin-bottom: 2rem;
        }

        p:nth-of-type(2) {
            color: $Very-dark-desaturated-blue;
            font-family: $Fraunces;
            margin-bottom: .5rem;
            font-weight: 800;
        }

        p:last-child {
            color: $Grayish-blue;
            font-size: 14px;
        }

    }
}


.container3 {
    div {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

footer {
    background: $Dark-moderate-cyan;
    padding: 3rem 0;

    .footer-logo {
        font-size: 1.8rem;
        font-weight: 800;
        color: $Dark-desaturated-cyan;
        filter: brightness(110%);
        padding-bottom: 2.7rem;
    }


    .extra-links {
        width: 100%;
        padding-bottom: 2rem;

        a {
            text-decoration: none;
            font-family: $barlow;
            color: $Dark-desaturated-cyan;
            filter: brightness(140%);
        }

        a:hover {
            color: $White;
        }
    }


    .icons {
        width: 100%;
        margin-top: 3.5rem;
        margin-bottom: 1.2rem;

        //icons contains svgs as a child elements, > * selects all'em
        > * {
            cursor: pointer;
            margin-right: 1.5rem;
        }

        > *:hover {
            path {
                fill: $White;
            }
        }
    }

}

@import 'desktop'; //media queries  for desktop version
